/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #d8ebe4 ;
  color: #282846; 
}

h1 {
  font-family: verdana, arial, sans-serif; 
  font-style: normal;
  color: #007580;
}

button {
  padding: 10px;
  border-radius: 7px;
}

.hidden {
  display: none;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}


#button1 {
    background: lightgreen;
}
#button1:active, #button1.lit{
    background:green;
}

#button2 {
    background: lightblue;
}
#button2:active, #button2.lit{
    background:blue;
}


#button3 {
    background: pink;
}
#button3:active,#button3.lit {
    background:red;
}


#button4 {
    background: lightyellow;
}
#button4:active,#button4.lit {
    background:yellow;
}





